@use './_breakpoints';

@use '/src/styles/fonts.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato-Regular', sans-serif;
}

html, body {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 40px;
  }